# Configuration file

general {

    configdefault {
        S:defaultPacks <
            Thermal Legacy.zip
            Rose16x-v2.1.3_release.zip
            old-lighting-old-water.zip
         >
    }

}


